@import './base.css';
@import './theme_popper.css';
#app {
  max-width: auto;
  margin: 0 auto;
  font-weight: normal;
  background-color: #f2f2f2;
}

a {
  text-decoration: none !important;
  color: rgba(50, 50, 50);
}

@media (hover: hover) {
  a img:hover {
    border-color: rgb(0, 115, 223) !important;
    transition: 0.3s;
  }

  a:hover {
    color: rgb(0, 115, 223);
    transition: 0.3s;
  }
}

/* @media (max-width: 1280px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
.card-header,
.card-body,
.card-footer {
  background-color: white;
  padding: 5px;
}

.card {
  padding: 5px;
  border-radius: 10px;
}

.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.45);
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}